nav{
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    background-color: #1C1C25;
}

ul{
    list-style: none;
    display: flex;
}

.left{
    margin-right: auto;
}

.right{
    margin-left: 15px;
}

a{
    text-decoration: none;
}